<!DOCTYPE html>
<html>
<head>
  <title>Rudy Lynn's Quilts</title>
  <link rel="stylesheet" href="style.css" type="text/css">

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</head>
<body>
  <header>
    <a href="/"><img id="logo" src="rudy_logo.png"></a>
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/patterns">Patterns</a></li>
      <li><a href="/contact">Contact</a></li>
    </nav>
  </header>
  <div id= "middle">
    <div id="main_info">
      <img id="head_shot" src="waste_not_want_not.jpg">
      <section id="contact_info">
        <p>Barb Mclean</p>
        <p>555 Juniper Lane</p>
        <p>Toledo, OH 55555</p>
        <p>(555)555-5555</p>
        <p>mommamclean@gmail.com</p>
      </section>
    </div>
  </div>
  <footer id="recent_buys">
    <h2>Other patterns you might like...</h2>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
  </footer>
</body>
</html>