<!DOCTYPE html>
<html>
<head>
  <title>Rudy Lynn's Quilts</title>
  <link rel="stylesheet" href="style.css" type="text/css">

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</head>
<body>
  <header>
    <img id="logo" src="rudy_logo.png">
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/patterns">Patterns</a></li>
      <li><a href="/contact">Contact</a></li>
    </nav>
  </header>
  <h1>This page not created yet!</h1>
</body>
</html>