<div id= "middle">
  <div id="main_info">
    <img id="head_shot" src="waste_not_want_not.jpg">
    <section id="contact_info">
      <p>Barb Mclean</p>
      <p>555 Juniper Lane</p>
      <p>Toledo, OH 55555</p>
      <p>(555)555-5555</p>
      <p>mommamclean@gmail.com</p>
    </section>
  </div>
</div>
