<!DOCTYPE html>
<html>
<head>
  <title>Rudy Lynn's Quilts</title>
  <link rel="stylesheet" href="style.css" type="text/css">

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</head>
<body>
  <header>
    <img id="logo" src="rudy_logo.png">
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/patterns">Patterns</a></li>
      <li><a href="/contact">Contact</a></li>
    </nav>
  </header>
  <div id= "middle">
    <section id="slideshow">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </section>
    <div id="main_info">
      <section id="greeting">
        <h1>Modern Patterns</h1>
          <p>Welcome to Rudy Lynn's Quilts. Please browse the patterns both modern and traditional. If you have and questions, please visit the Contact page.</p>
      </section>
      <section id="posts">
        <div class="post">
          <span>Check out our new sale!</span>
          <div class="timestamp">September 11, 2012 - 4:06 pm</div>
        </div>
        <br>
        <div class="post">
          <span>3 new patterns just added!</span>
          <div class="timestamp">September 4, 2012 - 11:37 am</div>
        </div>
        <br>
        <div class="post">
          <span>All Amish patterns 20% off!</span>
          <div class="timestamp">August 17, 2012 - 8:14 am</div>
        </div>
      </section>
    </div>
  </div>
  <footer id="recent_buys">
    <h2>Other patterns you might like...</h2>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
  </footer>
</body>
</html>