<div id= "middle">
  <section id="slideshow">
    <a href="#"><img src="waste_not_want_not.jpg"></a>
  </section>
  <div id="main_info">
    <section id="greeting">
      <h1>Modern Patterns</h1>
        <p>Welcome to Rudy Lynn's Quilts. Please browse the patterns both modern and traditional. If you have and questions, please visit the Contact page.</p>
    </section>
    <section id="posts">
      <div class="post">
        <span>Check out our new sale!</span>
        <div class="timestamp">September 11, 2012 - 4:06 pm</div>
      </div>
      <br>
      <div class="post">
        <span>3 new patterns just added!</span>
        <div class="timestamp">September 4, 2012 - 11:37 am</div>
      </div>
      <br>
      <div class="post">
        <span>All Amish patterns 20% off!</span>
        <div class="timestamp">August 17, 2012 - 8:14 am</div>
      </div>
    </section>
  </div>
</div>
  