<!DOCTYPE html>
<html>
<head>
  <title>Rudy Lynn's Quilts</title>
  <link rel="stylesheet" href="patterns.css" type="text/css">

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</head>
<body>
<header>
  <a href="/"><img id="logo" src="rudy_logo.png"></a>
  <nav>
    <li><a href="/">Home</a></li>
    <li><a href="/patterns">Patterns</a></li>
    <li><a href="/contact">Contact</a></li>
  </nav>
</header>
  <div id= "middle">
    <div id="main_info">
        <div class="pattern">
          <a href="#"><img src="waste_not_want_not.jpg"></a>
          <div class="pattern_title">
            <h2><a href="#">Bermuda Pattern</a></h2>
          </div>
          <div class="pattern_description">
            <p>This Carribean pattern is sure to make you feel like your on vaction. Sea sickness won't be the only thing you feel. </p>
          </div>
        </div>
        <br>
        <div class="pattern">
          <a href="#"><img src="waste_not_want_not.jpg"></a>
          <div class="pattern_title">
            <h2><a href="#">Wincester Pattern</a></h2>
          </div>
          <div class="pattern_description">
            <p>This Carribean pattern is sure to make you feel like your on vaction. Sea sickness won't be the only thing you feel. </p>
          </div>
        </div>
        <br>
        <div class="pattern">
          <a href="#"><img src="waste_not_want_not.jpg"></a>
          <div class="pattern_title">
            <h2><a href="#">Amish Pattern</a></h2>
          </div>
          <div class="pattern_description">
            <p>This Carribean pattern is sure to make you feel like your on vaction. Sea sickness won't be the only thing you feel. </p>
          </div>
        </div>
        <br>
        <div class="pattern">
          <a href="#"><img src="waste_not_want_not.jpg"></a>
          <div class="pattern_title">
            <h2><a href="#">Kid Pattern</a></h2>
          </div>
          <div class="pattern_description">
            <p>This Carribean pattern is sure to make you feel like your on vaction. Sea sickness won't be the only thing you feel. </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <footer id="recent_buys">
    <h2>Other patterns you might like...</h2>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
    <div class="tease">
      <a href="#"><img src="waste_not_want_not.jpg"></a>
    </div>
  </footer>
</body>
</html>