<div id= "patterns_area">
  <div id="pattern_info">
      <div class="pattern">
        <a href="#"><img src="waste_not_want_not.jpg"></a>
        <div class="pattern_title">
          <h2><a href="#">Bermuda Pattern</a></h2>
        </div>
        <div class="pattern_description">
          <p>This Carribean pattern is sure to make you feel like your on vaction. Sea sickness won't be the only thing you feel. </p>
        </div>
      </div>
      <br>
      <div class="pattern">
        <a href="#"><img src="waste_not_want_not.jpg"></a>
        <div class="pattern_title">
          <h2><a href="#">Wincester Pattern</a></h2>
        </div>
        <div class="pattern_description">
          <p>This Carribean pattern is sure to make you feel like your on vaction. Sea sickness won't be the only thing you feel. </p>
        </div>
      </div>
      <br>
      <div class="pattern">
        <a href="#"><img src="waste_not_want_not.jpg"></a>
        <div class="pattern_title">
          <h2><a href="#">Amish Pattern</a></h2>
        </div>
        <div class="pattern_description">
          <p>This Carribean pattern is sure to make you feel like your on vaction. Sea sickness won't be the only thing you feel. </p>
        </div>
      </div>
      <br>
      <div class="pattern">
        <a href="#"><img src="waste_not_want_not.jpg"></a>
        <div class="pattern_title">
          <h2><a href="#">Kid Pattern</a></h2>
        </div>
        <div class="pattern_description">
          <p>This Carribean pattern is sure to make you feel like your on vaction. Sea sickness won't be the only thing you feel. </p>
        </div>
      </div>
    </section>
  </div>
</div>