<!DOCTYPE html>
<html>
<head>
  <title>Rudy Lynn's Quilts</title>
  <link rel="stylesheet" href="wireframe.css" type="text/css">

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</head>
<body>
  <header>
    <h1>Rudy Lynn's Quilts</h1>
    <nav>
      <li>Home</li>
      <li>Patterns</li>
      <li>Contact</li>
    </nav>
  </header>
  <div id= "middle">
    <section id="slideshow">
      <img src="http://placehold.it/300x400">
    </section>
    <div id="main_info">
      <section id="greeting">
        <h1>Modern Patterns</h1>
          <p>Welcome to Rudy Lynn's Quilts. Please browse the patterns both modern and traditional. If you have and questions, please visit the Contact page.</p>
      </section>
      <section id="posts">
        <div class="post">Check out our new sale!</div>
        <div class="timestamp">9-11-12 4:06 pm</div>
        <br>
        <div class="post">3 new patterns just added!</div>
        <div class="timestamp">9-04-12 11:37 am</div>
        <br>
        <div class="post">All Amish patterns 20% off!</div>
        <div class="timestamp">8-17-12 8:14 am</div>
      </section>
    </div>
  </div>
  <footer id="recent_buys">
    <h2>Recently Bought!</h2>
    <div class="tease">
      <img src="http://placehold.it/75x100">
      <p>Bermuda Pattern</p>
    </div>
    <div class="tease">
      <img src="http://placehold.it/75x100">
      <p>Amish Pattern</p>
    </div>
    <div class="tease">
      <img src="http://placehold.it/75x100">
      <p>Geometric Pattern</p>
    </div>
    <div class="tease">
      <img src="http://placehold.it/75x100">
      <p>Bermuda Pattern</p>
    </div>
    <div class="tease">
      <img src="http://placehold.it/75x100">
      <p>Amish Pattern</p>
    </div>
    <div class="tease">
      <img src="http://placehold.it/75x100">
      <p>Geometric Pattern</p>
    </div>
  </footer>
</body>
</html>