/* COMMON ELEMENTS */

/* BODY */

body {
  width:1000px;
  margin-left: 50px;
  margin-top: 20px;
  font-family: Verdana;
  background: #F8FCDC;
}

a {
  text-decoration: none;
  color: #ABC217;
}

a:hover {
  color: #F04F0A;
}


/* NAVIGATION */
 
header{
  height: 100px;
  width: 1000px;
  margin-bottom: 20px;
  float: left;
  background: #ABC217;
}

header #logo {
  height: 140px;
  width: 140px;
  float: left;
}

header h1 {
  margin-left: 30px;
  font-weight: lighter;
}

header li {
  position: relative;
  top: 60px;
  list-style: none;
  float: left;
  margin-left: 30px;
  font-size: 20px;
}

header li a {
  text-decoration: none;
  color: white;

}


/* FOOTER */

#recent_buys {
  width: 100%;
  float: left;
  margin-top: 25px;
  margin-left: 0px;
  background: #ABC217;
  padding-left: 30px;
  width: 970px;
}

#recent_buys h2{
  margin-top: 10px;
  font-size: 20px;
  font-weight: lighter;
}

#recent_buys .tease {
  width: 150px;
  height: 140px;
  float: left;
}

#recent_buys img {
  margin-left: 37px;
  width: 75px;
  height: 100px;
  padding: 4px;
  border: 3px dashed #F8FCDC;
}

#recent_buys p {
  color: black;
  position: relative;
  font-size: 12px;
}


/* HOME PAGE MAIN CONTENT */

#middle {
 width: 1000px;
 min-height:450px;
}

#slideshow {
  float: left;
  height: 430px;
  width: 360px;
}

#slideshow img{
  margin: 30px;
}

#main_info {
  float: left;
  height: 430px;
  width: 640px;
}

#main_info #greeting{
  height: 140px;
  width: 500px;
  margin: 10px;
  margin-top: 30px;
}

#main_info #posts{
  margin: 10px;
  width: 500px;
}

#main_info .post{
  font-size: 14px;
  color: #383835;
  border: 1px dashed #FAC905;
  padding: 5px;
}

#main_info .timestamp{
  font-size: 10px;
  color: #ABC217;
}

hr {
  border: 1px dashed #ABC217;
}


/* CONTACT PAGE MAIN CONTENT */

#head_shot {
  height: 200px;
  float: left;
  margin-top: 50px;
  margin-right: 20px;
}

#contact_info {
  margin-top: 150px;
  line-height: 5px;
}


/* PATTERNS PAGE MAIN CONTENT */

#patterns_area {
 width: 1000px;
 min-height:450px;
}

#pattern_info {
  float: left;
  height: 800px;
  width: 640px;
}

.pattern {
  width: 800px;
  height: 160px;
}

.pattern img {
  height: 160px;
  float: left;
  margin-right: 20px;
}