<!DOCTYPE html>
<html>
<head>
  <title>RudyWeb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Rudy Lynn's Quilts</h1>
	<a href="static_pages/home">HOME</a>
	<a href="patterns">PATTERNS</a>
	<a href="static_pages/contact">CONTACT</a>
	<a href="static_pages/help">HELP</a>
	<br />
	<br />
<%= yield %>

</body>
</html>
